@import "normalize";
@import "reset";
@import "variables";

html {
  font-size: 10px;
}

body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding:9rem 8rem 12.5rem 10rem;

  @media screen and (width < 1170px) {
    padding:  4.5rem 4rem 7rem 4rem;
  }

  @media screen and (width < 760px) {
    padding: 2rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.13;
  color: $dark-grey;
  margin-bottom: 4.5rem;

  @media screen and (width < 1170px) {
    margin-bottom: 2rem;
  }

  @media screen and (width < 760px) {
    font-size: 2rem;
  }

  span {
    color: $black;
  }
}
