@import '../../../style/variables';

.input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (width < 1170px) {
    flex-direction: column;
    align-items: start;
  }

  @media screen and (width < 760px) {
    flex-direction: column;
    align-items: center;
  }
}

.input__wrapper_right {
  width: 77%;
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (width < 1170px) {
    width: 100%;
  }

  @media screen and (width < 760px) {
    flex-direction: column;
  }
}

.input__label {
  position: relative;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
  color: $black;

  @media screen and (width < 1170px) {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
  }

  @media screen and (width < 760px) {
    margin-bottom: .8rem;
    font-size: 1.6rem;
  }

  &[aria-required="true"]::after {
    content: '\002A';
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 4px;
    color: red;
  }
}

.input__error {
  position: absolute;
  left: 0;
  top: 3.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.66;
  color: $redError;

  @media screen and (width < 1170px) {
    top: 2.6rem;
  }
}

.input {
  width: 33.5rem;
  margin-right: 1.8rem;
  padding: .6rem 1.2rem;
  border: 1px solid $grey;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.18;
  color: $black;
  outline-color: $black;

  &[aria-invalid='true'] {
    border: 1px solid $redError;
  }

  @media screen and (width < 1170px) {
    width: 25rem;
    padding: .4rem .8rem;
    font-size: 1.2rem;
  }

  @media screen and (width < 760px) {
    margin-right: 0;
    width: 100%;
    margin-bottom: 2rem;
    padding: .4rem .5rem;
  }

  &::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.18;
    color: $middle-grey;

    @media screen and (width < 1170px) {
      font-size: 1.2rem;
    }
  }
}

.input__description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.66;
  color: $grey;

  @media screen and (width < 760px) {
    text-align: center;
  }
}
